# How to load the MGF parquet files and Sample Metadata from MinIO into duckdb

There are 7 summary analyses files for each MetaGOflow analysis result:

    "metagoflow_analyses.SSU", <- taxonomy using SSU
    "metagoflow_analyses.LSU", <- taxonomy using LSU
    "metagoflow_analyses.go_slim", <- functional annotations using Gene Ontology SLIM
    "metagoflow_analyses.go", <- functional annotation using Gene Ontology
    "metagoflow_analyses.ips", <- functional annotation using Inter Pro Scan
    "metagoflow_analyses.ko", <- functional analyses using KEGG Ontology
    "metagoflow_analyses.pfam" <- functional annotation using PFAM

Parquet tables have been created for each of these table types, one table from each of the 54 samples, chained on top of each other into a meta-table, with the addition of two further columns.

column[0] is the EMO-BON "ref-code" from the run-information-batch-00[X].csv files on github,
column[1] is a shortened version of the "reads_name" from the same file that identifies the raw DNA data associated with the sample and metagoflow analysis.

all the parquet tables have these two columns prepended.

In [5]:
import os
import io
import math
import duckdb # type: ignore
import numpy
import json
from duckdb import CatalogException, BinderException # type: ignore
import pandas as pd
from pandasql import sqldf
from minio import Minio, S3Error
from timeit_decorator import timeit

creds = json.load(open("credentials.json"))

client = Minio("10.4.1.4:9000",
    secure=False,
    access_key=creds["accessKey"],
    secret_key=creds["secretKey"],
) 

def get_object(bucket_name, file_format, file_name, verbose=True):
    if verbose:
        print(f"{bucket_name=} - {file_format=} - {file_name=}")
    try:
        response = client.get_object(bucket_name, file_name)
        buffer = io.BytesIO(response.read())
    except S3Error:
        raise
    finally:
        if file_format == "parquet":
            df = pd.read_parquet(buffer, engine='pyarrow')
        elif file_format == "csv":
            df = pd.read_csv(buffer)
        else:
            raise ValueError(f"Unknown {file_format=}")
        response.close()
        response.release_conn()
        if verbose:
            print(f"Downloaded {file_name} into dataframe")
    return df

### Get a list of current table versions available (note this will break the next code when new versions are available)

In [2]:
# The destination bucket and filename on the MinIO server
bucket_name = "emo-bon-tables"
for obj in client.list_objects(bucket_name):
    print(obj.object_name)
#Currently only v1 tables are available

v1/

### Load MGF and Sample Metadata into duckdb

In [3]:
# MGF parquet tables to dataframes
bucket_name = "emo-bon-tables"
objects = client.list_objects(bucket_name, recursive=True)
mgf_parquet_dfs = {}
for obj in objects:
    name = obj.object_name.split(".")[-2]
    df = get_object(bucket_name, "parquet", obj.object_name, verbose=False)
    mgf_parquet_dfs[name] = df

# Sample metadata
# Get the latest Batch combined logsheets file
# Remember we are downloading from MinIO
batch_file = "Batch1and2_combined_logsheets_2024-09-06.csv"
sample_metadata = ("emo-bon-metadata-tables", "csv", batch_file)
sample_metadata = get_object(*sample_metadata, verbose=False)

#Observatory metadata - from the GoogleSheets
observatory_metadata = ("emo-bon-metadata-tables", "csv", "Observatory_combined_logsheets_validated.csv")
observatory_metadata = get_object(*observatory_metadata, verbose=False)

# Into duckdb
try:
    duckdb.sql("DROP TABLE SAMPLE_METADATA")
    duckdb.sql("DROP TABLE OBS_METADATA")
    for table_name in mgf_parquet_dfs:
        cmd = f"DROP TABLE {table_name}"
        duckdb.sql(cmd)
except CatalogException:
    pass
duckdb.sql("CREATE TABLE SAMPLE_METADATA AS SELECT * FROM sample_metadata")
duckdb.sql("SELECT COUNT(*) FROM SAMPLE_METADATA")
duckdb.sql("CREATE TABLE OBS_METADATA AS SELECT * FROM observatory_metadata")
duckdb.sql("SELECT COUNT(*) FROM OBS_METADATA")
for table_name in mgf_parquet_dfs:
    df = mgf_parquet_dfs[table_name]
    cmd = f"CREATE TABLE {table_name} AS SELECT * FROM df"
    duckdb.sql(cmd)

duckdb.sql("SHOW TABLES")

┌─────────────────┐
│      name       │
│     varchar     │
├─────────────────┤
│ LSU             │
│ OBS_METADATA    │
│ SAMPLE_METADATA │
│ SSU             │
│ go              │
│ go_slim         │
│ ips             │
│ ko              │
│ pfam            │
└─────────────────┘

In [5]:
duckdb.sql("DESCRIBE SAMPLE_METADATA").show(max_rows=113)

┌─────────────────────────────┬─────────────┬─────────┬─────────┬─────────┬─────────┐
│         column_name         │ column_type │  null   │   key   │ default │  extra  │
│           varchar           │   varchar   │ varchar │ varchar │ varchar │ varchar │
├─────────────────────────────┼─────────────┼─────────┼─────────┼─────────┼─────────┤
│ source_mat_id               │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ source_mat_id_orig          │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ samp_description            │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ tax_id                      │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ scientific_name             │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ investigation_type          │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ env_material                │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ collection_date             │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ sampling_event              │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ sampl_person                │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ sampl_person_orcid          │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ tidal_stage                 │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ depth                       │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ replicate                   │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ samp_size_vol               │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ time_fi                     │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ size_frac                   │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ size_frac_low               │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ size_frac_up                │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ membr_cut                   │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ samp_collect_device         │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ samp_mat_process            │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ samp_mat_process_dev        │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ samp_store_date             │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ samp_store_loc              │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ samp_store_temp             │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ store_person                │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ store_person_orcid          │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ other_person                │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ other_person_orcid          │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ long_store                  │ BOOLEAN     │ YES     │ NULL    │ NULL    │ NULL    │
│ ship_date                   │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ arr_date_hq                 │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ store_temp_hq               │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ ship_date_seq               │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ arr_date_seq                │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ failure                     │ BOOLEAN     │ YES     │ NULL    │ NULL    │ NULL    │
│ failure_comment             │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ ENA_accession_number_sample │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ ref_code                    │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ obs_id                      │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ chlorophyll                 │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ chlorophyll_method          │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ sea_surf_temp               │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ sea_surf_temp_method        │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ sea_subsurf_temp            │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ sea_subsurf_temp_method     │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ sea_surf_salinity           │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ sea_surf_salinity_method    │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ sea_subsurf_salinity        │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ sea_subsurf_salinity_method │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ alkalinity                  │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ alkalinity_method           │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ ammonium                    │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ ammonium_method             │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ bac_prod                    │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ bac_prod_method             │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ biomass                     │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ biomass_method              │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ chem_administration         │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ conduc                      │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ conduc_method               │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ density                     │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ density_method              │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ diss_carb_dioxide           │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ diss_carb_dioxide_method    │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ diss_inorg_carb             │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ diss_inorg_carb_method      │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ diss_org_carb               │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ diss_org_carb_method        │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ diss_org_nitro              │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ diss_org_nitro_method       │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ down_par                    │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ down_par_method             │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ diss_oxygen                 │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ diss_oxygen_method          │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ n_alkanes                   │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ n_alkanes_method            │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ nitrate                     │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ nitrate_method              │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ nitrite                     │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ nitrite_method              │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ organism_count              │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ organism_count_method       │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ ph                          │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ ph_method                   │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ part_org_carb               │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ part_org_carb_method        │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ part_org_nitro              │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ part_org_nitro_method       │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ petroleum_hydrocarb         │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ petroleum_hydrocarb_method  │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ phaeopigments               │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ phaeopigments_method        │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ phosphate                   │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ phosphate_method            │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ pigments                    │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ pigments_method             │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ pressure                    │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ pressure_method             │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ primary_prod                │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ primary_prod_method         │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ silicate                    │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ silicate_method             │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ sulfate                     │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ sulfate_method              │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ sulfide                     │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ sulfide_method              │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ turbidity                   │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ turbidity_method            │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ water_current               │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ water_current_method        │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ sampling_type               │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
├─────────────────────────────┴─────────────┴─────────┴─────────┴─────────┴─────────┤
│ 113 rows                                                                6 columns │
└───────────────────────────────────────────────────────────────────────────────────┘

In [6]:
duckdb.sql("DESCRIBE OBS_METADATA").show(max_rows=25)

┌───────────────────────────────┬─────────────┬─────────┬─────────┬─────────┬─────────┐
│          column_name          │ column_type │  null   │   key   │ default │  extra  │
│            varchar            │   varchar   │ varchar │ varchar │ varchar │ varchar │
├───────────────────────────────┼─────────────┼─────────┼─────────┼─────────┼─────────┤
│ obs_id                        │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ project_name                  │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ latitude                      │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ longitude                     │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ geo_loc_name                  │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ loc_broad_ocean               │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ loc_broad_ocean_mrgid         │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ loc_regional                  │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ loc_regional_mrgid            │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ loc_loc                       │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ loc_loc_mrgid                 │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ env_broad_biome               │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ env_local                     │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ env_package                   │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ tot_depth_water_col           │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ organization                  │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ organization_country          │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ organization_edmoid           │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ wa_id                         │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ extra_site_info               │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ contact_name                  │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ contact_email                 │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ contact_orcid                 │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ ENA_accession_number_umbrella │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ ENA_accession_number_project  │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
├───────────────────────────────┴─────────────┴─────────┴─────────┴─────────┴─────────┤
│ 25 rows                                                                   6 columns │
└─────────────────────────────────────────────────────────────────────────────────────┘

In [3]:
duckdb.sql("DESCRIBE LSU")

┌──────────────┬─────────────┬─────────┬─────────┬─────────┬─────────┐
│ column_name  │ column_type │  null   │   key   │ default │  extra  │
│   varchar    │   varchar   │ varchar │ varchar │ varchar │ varchar │
├──────────────┼─────────────┼─────────┼─────────┼─────────┼─────────┤
│ ref_code     │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ reads_name   │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ ncbi_taxid   │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ abundance    │ FLOAT       │ YES     │ NULL    │ NULL    │ NULL    │
│ superkingdom │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ kingdom      │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ phylum       │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ class        │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ order        │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ family       │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ genus        │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ species      │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
├──────────────┴─────────────┴─────────┴─────────┴─────────┴─────────┤
│ 12 rows                                                  6 columns │
└────────────────────────────────────────────────────────────────────┘

In [8]:
duckdb.sql("SELECT obs_id, loc_loc, contact_name FROM OBS_METADATA WHERE geo_loc_name = 'Portugal'")

┌──────────┬──────────────┬────────────────────┐
│  obs_id  │   loc_loc    │    contact_name    │
│ varchar  │   varchar    │      varchar       │
├──────────┼──────────────┼────────────────────┤
│ RFormosa │ Ria Formosa  │ Bruno Louro        │
│ RFormosa │ Ria Formosa  │ Bruno Louro        │
│ OSD74    │ Porto Valley │ Catarina Magalhães │
└──────────┴──────────────┴────────────────────┘

In [9]:
duckdb.sql("SELECT ref_code, abundance, reads_name, ncbi_taxid FROM LSU WHERE abundance > 10000 ORDER BY abundance DESC")

┌─────────────┬───────────┬──────────────────┬────────────┐
│  ref_code   │ abundance │    reads_name    │ ncbi_taxid │
│   varchar   │   float   │     varchar      │   int64    │
├─────────────┼───────────┼──────────────────┼────────────┤
│ EMOBON00125 │   14280.0 │ HVWGWDSX5.UDI133 │      54526 │
│ EMOBON00124 │   12106.0 │ HVWGWDSX5.UDI121 │      54526 │
│ EMOBON00121 │   11201.0 │ HVWGWDSX5.UDI109 │      54526 │
│ EMOBON00120 │   10968.0 │ HVWGWDSX5.UDI097 │      54526 │
│ EMOBON00127 │   10929.0 │ HVWGWDSX5.UDI105 │      72037 │
│ EMOBON00141 │   10292.0 │ HCFCYDSX5.UDI124 │       1236 │
└─────────────┴───────────┴──────────────────┴────────────┘

In [10]:
duckdb.sql("SELECT source_mat_id, ref_code, sea_surf_temp FROM SAMPLE_METADATA WHERE sea_surf_temp < 10.0")

┌─────────────────────────────────┬─────────────┬───────────────┐
│          source_mat_id          │  ref_code   │ sea_surf_temp │
│             varchar             │   varchar   │    double     │
├─────────────────────────────────┼─────────────┼───────────────┤
│ EMOBON_ESC68N_Wa_211104_3um_1   │ EMOBON00196 │          7.55 │
│ EMOBON_ESC68N_Wa_211104_3um_2   │ EMOBON00197 │          7.55 │
│ EMOBON_ESC68N_Wa_211104_0.2um_1 │ EMOBON00198 │          7.55 │
│ EMOBON_ESC68N_Wa_211104_0.2um_2 │ EMOBON00199 │          7.55 │
│ EMOBON_ESC68N_Wa_211215_3um_1   │ EMOBON00202 │          7.58 │
│ EMOBON_ESC68N_Wa_211215_3um_2   │ EMOBON00203 │          7.58 │
│ EMOBON_ESC68N_Wa_211215_0.2um_1 │ EMOBON00204 │          7.58 │
│ EMOBON_ESC68N_Wa_211215_0.2um_2 │ EMOBON00205 │          7.58 │
└─────────────────────────────────┴─────────────┴───────────────┘

In [11]:
duckdb.sql("SHOW TABLES")
# Abundant taxa found with LSU sequences that come from hot suface waters (> 20C) and their location

query = """
SELECT LSU.ncbi_taxid,
       LSU.abundance,
       SAMPLE_METADATA.sea_surf_temp,
       LSU.ref_code,
       OBS_METADATA.obs_id,
       OBS_METADATA.geo_loc_name,
       OBS_METADATA.loc_broad_ocean
FROM LSU
FULL JOIN SAMPLE_METADATA ON LSU.ref_code        = SAMPLE_METADATA.ref_code
FULL JOIN OBS_METADATA    ON OBS_METADATA.obs_id = SAMPLE_METADATA.obs_id
WHERE LSU.abundance > 1000.0 AND SAMPLE_METADATA.sea_surf_temp > 20.0
ORDER BY LSU.abundance DESC
"""
duckdb.sql(query).show(max_rows=107)

┌────────────┬───────────┬───────────────┬─────────────┬──────────┬──────────────┬───────────────────────────────────┐
│ ncbi_taxid │ abundance │ sea_surf_temp │  ref_code   │  obs_id  │ geo_loc_name │          loc_broad_ocean          │
│   int64    │   float   │    double     │   varchar   │ varchar  │   varchar    │              varchar              │
├────────────┼───────────┼───────────────┼─────────────┼──────────┼──────────────┼───────────────────────────────────┤
│      54526 │   14280.0 │      23.33631 │ EMOBON00125 │ IUIEilat │ Israel       │ Indian Ocean                      │
│      54526 │   12106.0 │      23.33631 │ EMOBON00124 │ IUIEilat │ Israel       │ Indian Ocean                      │
│      54526 │   11201.0 │       24.8503 │ EMOBON00121 │ IUIEilat │ Israel       │ Indian Ocean                      │
│      54526 │   10968.0 │       24.8503 │ EMOBON00120 │ IUIEilat │ Israel       │ Indian Ocean                      │
│      72037 │   10929.0 │      23.33631 │ EMOBON00127 │ IUIEilat │ Israel       │ Indian Ocean                      │
│    1890424 │    8105.0 │       24.8503 │ EMOBON00121 │ IUIEilat │ Israel       │ Indian Ocean                      │
│    1890424 │    7803.0 │       24.8503 │ EMOBON00120 │ IUIEilat │ Israel       │ Indian Ocean                      │
│     198251 │    7140.0 │      23.33631 │ EMOBON00125 │ IUIEilat │ Israel       │ Indian Ocean                      │
│     198251 │    6076.0 │      23.33631 │ EMOBON00124 │ IUIEilat │ Israel       │ Indian Ocean                      │
│     198251 │    5283.0 │       24.8503 │ EMOBON00120 │ IUIEilat │ Israel       │ Indian Ocean                      │
│     198251 │    5141.0 │       24.8503 │ EMOBON00121 │ IUIEilat │ Israel       │ Indian Ocean                      │
│       1236 │    5052.0 │       24.8503 │ EMOBON00120 │ IUIEilat │ Israel       │ Indian Ocean                      │
│      28211 │    4741.0 │      23.33631 │ EMOBON00125 │ IUIEilat │ Israel       │ Indian Ocean                      │
│       1236 │    4713.0 │       24.8503 │ EMOBON00121 │ IUIEilat │ Israel       │ Indian Ocean                      │
│      72037 │    4644.0 │      23.33631 │ EMOBON00126 │ IUIEilat │ Israel       │ Indian Ocean                      │
│          2 │    4585.0 │          26.3 │ EMOBON00093 │ RFormosa │ Portugal     │ Atlantic Ocean                    │
│          2 │    4585.0 │          26.3 │ EMOBON00093 │ RFormosa │ Portugal     │ Atlantic Ocean                    │
│    1890424 │    4320.0 │      23.33631 │ EMOBON00125 │ IUIEilat │ Israel       │ Indian Ocean                      │
│      28211 │    4036.0 │       24.8503 │ EMOBON00121 │ IUIEilat │ Israel       │ Indian Ocean                      │
│       1236 │    4011.0 │      23.33631 │ EMOBON00125 │ IUIEilat │ Israel       │ Indian Ocean                      │
│       1117 │    3940.0 │          26.3 │ EMOBON00093 │ RFormosa │ Portugal     │ Atlantic Ocean                    │
│       1117 │    3940.0 │          26.3 │ EMOBON00093 │ RFormosa │ Portugal     │ Atlantic Ocean                    │
│      28211 │    3913.0 │       24.8503 │ EMOBON00120 │ IUIEilat │ Israel       │ Indian Ocean                      │
│      28211 │    3868.0 │      23.33631 │ EMOBON00124 │ IUIEilat │ Israel       │ Indian Ocean                      │
│          2 │    3855.0 │       20.7006 │ EMOBON00236 │ NRMCB    │ Italy        │ Mediterranean Sea - Western Basin │
│          2 │    3855.0 │       20.7006 │ EMOBON00236 │ NRMCB    │ Italy        │ Mediterranean Sea - Western Basin │
│      72037 │    3725.0 │       24.8503 │ EMOBON00122 │ IUIEilat │ Israel       │ Indian Ocean                      │
│          2 │    3705.0 │       25.0495 │ EMOBON00094 │ NRMCB    │ Italy        │ Mediterranean Sea - Western Basin │
│          2 │    3705.0 │       25.0495 │ EMOBON00094 │ NRMCB    │ Italy        │ Mediterranean Sea - Western Basin │
│    1890424 │    3575.0 │      23.33631 │ EMOBON00124 │ IUIEilat │ Israel       │ Indian Ocean                      │
│          2 │    3472.0 │          26.3 │ EMOBON00092 │ RFormosa │ Portugal     │ Atlantic Ocean                    │
│          2 │    3472.0 │          26.3 │ EMOBON00092 │ RFormosa │ Portugal     │ Atlantic Ocean                    │
│       1236 │    3360.0 │      23.33631 │ EMOBON00124 │ IUIEilat │ Israel       │ Indian Ocean                      │
│      72037 │    3057.0 │       24.8503 │ EMOBON00123 │ IUIEilat │ Israel       │ Indian Ocean                      │
│          2 │    2962.0 │       20.7006 │ EMOBON00237 │ NRMCB    │ Italy        │ Mediterranean Sea - Western Basin │
│          2 │    2962.0 │       20.7006 │ EMOBON00237 │ NRMCB    │ Italy        │ Mediterranean Sea - Western Basin │
│    1655514 │    2954.0 │      23.33631 │ EMOBON00125 │ IUIEilat │ Israel       │ Indian Ocean                      │
│       2864 │    2806.0 │       24.8503 │ EMOBON00123 │ IUIEilat │ Israel       │ Indian Ocean                      │
│       1236 │    2781.0 │       20.7006 │ EMOBON00236 │ NRMCB    │ Italy        │ Mediterranean Sea - Western Basin │
│       1236 │    2781.0 │       20.7006 │ EMOBON00236 │ NRMCB    │ Italy        │ Mediterranean Sea - Western Basin │
│       1236 │    2758.0 │       25.0495 │ EMOBON00094 │ NRMCB    │ Italy        │ Mediterranean Sea - Western Basin │
│       1236 │    2758.0 │       25.0495 │ EMOBON00094 │ NRMCB    │ Italy        │ Mediterranean Sea - Western Basin │
│       2864 │    2736.0 │      23.33631 │ EMOBON00126 │ IUIEilat │ Israel       │ Indian Ocean                      │
│          2 │    2715.0 │      23.33631 │ EMOBON00125 │ IUIEilat │ Israel       │ Indian Ocean                      │
│    1655514 │    2615.0 │      23.33631 │ EMOBON00124 │ IUIEilat │ Israel       │ Indian Ocean                      │
│    1593364 │    2576.0 │      23.33631 │ EMOBON00125 │ IUIEilat │ Israel       │ Indian Ocean                      │
│      49546 │    2485.0 │       24.8503 │ EMOBON00120 │ IUIEilat │ Israel       │ Indian Ocean                      │
│    1655514 │    2325.0 │       24.8503 │ EMOBON00120 │ IUIEilat │ Israel       │ Indian Ocean                      │
│       2864 │    2317.0 │      23.33631 │ EMOBON00127 │ IUIEilat │ Israel       │ Indian Ocean                      │
│    1655514 │    2296.0 │       24.8503 │ EMOBON00121 │ IUIEilat │ Israel       │ Indian Ocean                      │
│          2 │    2231.0 │       26.8119 │ EMOBON00098 │ NRMCB    │ Italy        │ Mediterranean Sea - Western Basin │
│          2 │    2231.0 │       26.8119 │ EMOBON00098 │ NRMCB    │ Italy        │ Mediterranean Sea - Western Basin │
│    1593364 │    2200.0 │      23.33631 │ EMOBON00124 │ IUIEilat │ Israel       │ Indian Ocean                      │
│      49546 │    2186.0 │       24.8503 │ EMOBON00121 │ IUIEilat │ Israel       │ Indian Ocean                      │
│       1236 │    2150.0 │       20.7006 │ EMOBON00237 │ NRMCB    │ Italy        │ Mediterranean Sea - Western Basin │
│       1236 │    2150.0 │       20.7006 │ EMOBON00237 │ NRMCB    │ Italy        │ Mediterranean Sea - Western Basin │
│          2 │    2051.0 │       26.8119 │ EMOBON00097 │ NRMCB    │ Italy        │ Mediterranean Sea - Western Basin │
│          2 │    2051.0 │       26.8119 │ EMOBON00097 │ NRMCB    │ Italy        │ Mediterranean Sea - Western Basin │
│          2 │    2040.0 │      23.33631 │ EMOBON00124 │ IUIEilat │ Israel       │ Indian Ocean                      │
│    1389453 │    1988.0 │       24.8503 │ EMOBON00120 │ IUIEilat │ Israel       │ Indian Ocean                      │
│       2864 │    1987.0 │       24.8503 │ EMOBON00122 │ IUIEilat │ Israel       │ Indian Ocean                      │
│          2 │    1937.0 │       25.0495 │ EMOBON00095 │ NRMCB    │ Italy        │ Mediterranean Sea - Western Basin │
│          2 │    1937.0 │       25.0495 │ EMOBON00095 │ NRMCB    │ Italy        │ Mediterranean Sea - Western Basin │
│     183967 │    1855.0 │      23.33631 │ EMOBON00125 │ IUIEilat │ Israel       │ Indian Ocean                      │
│    1389453 │    1832.0 │       24.8503 │ EMOBON00121 │ IUIEilat │ Israel       │ Indian Ocean                      │
│      28221 │    1731.0 │       20.7006 │ EMOBON00236 │ NRMCB    │ Italy        │ Mediterranean Sea - Western Basin │
│      28221 │    1731.0 │       20.7006 │ EMOBON00236 │ NRMCB    │ Italy        │ Mediterranean Sea - Western Basin │
│       1236 │    1707.0 │       26.8119 │ EMOBON00097 │ NRMCB    │ Italy        │ Mediterranean Sea - Western Basin │
│       1236 │    1707.0 │       26.8119 │ EMOBON00097 │ NRMCB    │ Italy        │ Mediterranean Sea - Western Basin │
│      28221 │    1655.0 │       25.0495 │ EMOBON00094 │ NRMCB    │ Italy        │ Mediterranean Sea - Western Basin │
│      28221 │    1655.0 │       25.0495 │ EMOBON00094 │ NRMCB    │ Italy        │ Mediterranean Sea - Western Basin │
│       1236 │    1628.0 │       26.8119 │ EMOBON00098 │ NRMCB    │ Italy        │ Mediterranean Sea - Western Basin │
│       1236 │    1628.0 │       26.8119 │ EMOBON00098 │ NRMCB    │ Italy        │ Mediterranean Sea - Western Basin │
│      49546 │    1601.0 │      23.33631 │ EMOBON00125 │ IUIEilat │ Israel       │ Indian Ocean                      │
│       2759 │    1600.0 │      23.33631 │ EMOBON00127 │ IUIEilat │ Israel       │ Indian Ocean                      │
│       2759 │    1591.0 │      23.33631 │ EMOBON00126 │ IUIEilat │ Israel       │ Indian Ocean                      │
│          2 │    1553.0 │      23.33631 │ EMOBON00126 │ IUIEilat │ Israel       │ Indian Ocean                      │
│       1236 │    1540.0 │          26.3 │ EMOBON00092 │ RFormosa │ Portugal     │ Atlantic Ocean                    │
│       1236 │    1540.0 │          26.3 │ EMOBON00092 │ RFormosa │ Portugal     │ Atlantic Ocean                    │
│     183967 │    1501.0 │      23.33631 │ EMOBON00124 │ IUIEilat │ Israel       │ Indian Ocean                      │
│      33208 │    1497.0 │      23.33631 │ EMOBON00127 │ IUIEilat │ Israel       │ Indian Ocean                      │
│      49546 │    1495.0 │      23.33631 │ EMOBON00124 │ IUIEilat │ Israel       │ Indian Ocean                      │
│       1236 │    1458.0 │       25.0495 │ EMOBON00095 │ NRMCB    │ Italy        │ Mediterranean Sea - Western Basin │
│       1236 │    1458.0 │       25.0495 │ EMOBON00095 │ NRMCB    │ Italy        │ Mediterranean Sea - Western Basin │
│    1389453 │    1454.0 │      23.33631 │ EMOBON00124 │ IUIEilat │ Israel       │ Indian Ocean                      │
│       2759 │    1422.0 │       24.8503 │ EMOBON00123 │ IUIEilat │ Israel       │ Indian Ocean                      │
│      28221 │    1385.0 │       20.7006 │ EMOBON00237 │ NRMCB    │ Italy        │ Mediterranean Sea - Western Basin │
│      28221 │    1385.0 │       20.7006 │ EMOBON00237 │ NRMCB    │ Italy        │ Mediterranean Sea - Western Basin │
│    1890424 │    1371.0 │          26.3 │ EMOBON00093 │ RFormosa │ Portugal     │ Atlantic Ocean                    │
│    1890424 │    1371.0 │          26.3 │ EMOBON00093 │ RFormosa │ Portugal     │ Atlantic Ocean                    │
│    1389453 │    1333.0 │      23.33631 │ EMOBON00125 │ IUIEilat │ Israel       │ Indian Ocean                      │
│       1117 │    1306.0 │          26.3 │ EMOBON00092 │ RFormosa │ Portugal     │ Atlantic Ocean                    │
│       1117 │    1306.0 │          26.3 │ EMOBON00092 │ RFormosa │ Portugal     │ Atlantic Ocean                    │
│      31989 │    1296.0 │       24.8503 │ EMOBON00121 │ IUIEilat │ Israel       │ Indian Ocean                      │
│      31989 │    1291.0 │       24.8503 │ EMOBON00120 │ IUIEilat │ Israel       │ Indian Ocean                      │
│          2 │    1264.0 │       24.8503 │ EMOBON00120 │ IUIEilat │ Israel       │ Indian Ocean                      │
│          2 │    1228.0 │      23.33631 │ EMOBON00127 │ IUIEilat │ Israel       │ Indian Ocean                      │
│     118161 │    1201.0 │          26.3 │ EMOBON00093 │ RFormosa │ Portugal     │ Atlantic Ocean                    │
│     118161 │    1201.0 │          26.3 │ EMOBON00093 │ RFormosa │ Portugal     │ Atlantic Ocean                    │
│      31989 │    1178.0 │      23.33631 │ EMOBON00125 │ IUIEilat │ Israel       │ Indian Ocean                      │
│          2 │    1149.0 │       24.8503 │ EMOBON00121 │ IUIEilat │ Israel       │ Indian Ocean                      │
│       2759 │    1130.0 │       24.8503 │ EMOBON00122 │ IUIEilat │ Israel       │ Indian Ocean                      │
│          2 │    1115.0 │       24.8503 │ EMOBON00123 │ IUIEilat │ Israel       │ Indian Ocean                      │
│       1117 │    1113.0 │      23.33631 │ EMOBON00125 │ IUIEilat │ Israel       │ Indian Ocean                      │
│    1890500 │    1077.0 │          26.3 │ EMOBON00093 │ RFormosa │ Portugal     │ Atlantic Ocean                    │
│    1890500 │    1077.0 │          26.3 │ EMOBON00093 │ RFormosa │ Portugal     │ Atlantic Ocean                    │
│      31989 │    1036.0 │      23.33631 │ EMOBON00124 │ IUIEilat │ Israel       │ Indian Ocean                      │
├────────────┴───────────┴───────────────┴─────────────┴──────────┴──────────────┴───────────────────────────────────┤
│ 107 rows                                                                                                 7 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

# Summing abundances and pivoting taxonomy tables

see [Taxonomy Dataframes](./Taxonomy_dataframes.ipynb)

In [ ]:
query = """
SELECT class, sum(abundance) FROM LSU WHERE class = 'Thermoanaerobaculia' 
GROUP BY class
"""
duckdb.sql(query).show(max_width=250, max_rows=117)

In [92]:
query = """
SELECT
ref_code,
class,
sum(abundance) as total
FROM LSU 
WHERE class <> '' AND class IS NOT NULL
GROUP BY class, ref_code
ORDER BY class, sum(abundance) DESC
"""
duckdb.sql(query).show(max_width=10, max_rows=100)
r = duckdb.sql(query).to_df()

┌─────────────┬────────────────────┬────────┐
│  ref_code   │       class        │ total  │
│   varchar   │      varchar       │ double │
├─────────────┼────────────────────┼────────┤
│ EMOBON00142 │ Acidimicrobiia     │ 2130.0 │
│ EMOBON00140 │ Acidimicrobiia     │ 1843.0 │
│ EMOBON00143 │ Acidimicrobiia     │ 1633.0 │
│ EMOBON00195 │ Acidimicrobiia     │ 1494.0 │
│ EMOBON00139 │ Acidimicrobiia     │ 1434.0 │
│ EMOBON00085 │ Acidimicrobiia     │ 1186.0 │
│ EMOBON00138 │ Acidimicrobiia     │ 1174.0 │
│ EMOBON00194 │ Acidimicrobiia     │  963.0 │
│ EMOBON00125 │ Acidimicrobiia     │  946.0 │
│ EMOBON00242 │ Acidimicrobiia     │  940.0 │
│ EMOBON00133 │ Acidimicrobiia     │  926.0 │
│ EMOBON00124 │ Acidimicrobiia     │  864.0 │
│ EMOBON00136 │ Acidimicrobiia     │  850.0 │
│ EMOBON00141 │ Acidimicrobiia     │  763.0 │
│ EMOBON00236 │ Acidimicrobiia     │  760.0 │
│ EMOBON00094 │ Acidimicrobiia     │  692.0 │
│ EMOBON00093 │ Acidimicrobiia     │  683.0 │
│ EMOBON00243 │ Acidimicrobiia     │  619.0 │
│ EMOBON00137 │ Acidimicrobiia     │  619.0 │
│ EMOBON00227 │ Acidimicrobiia     │  606.0 │
│ EMOBON00238 │ Acidimicrobiia     │  596.0 │
│ EMOBON00131 │ Acidimicrobiia     │  595.0 │
│ EMOBON00226 │ Acidimicrobiia     │  571.0 │
│ EMOBON00089 │ Acidimicrobiia     │  566.0 │
│ EMOBON00088 │ Acidimicrobiia     │  521.0 │
│ EMOBON00092 │ Acidimicrobiia     │  499.0 │
│ EMOBON00084 │ Acidimicrobiia     │  498.0 │
│ EMOBON00001 │ Acidimicrobiia     │  493.0 │
│ EMOBON00239 │ Acidimicrobiia     │  465.0 │
│ EMOBON00225 │ Acidimicrobiia     │  440.0 │
│ EMOBON00097 │ Acidimicrobiia     │  421.0 │
│ EMOBON00095 │ Acidimicrobiia     │  417.0 │
│ EMOBON00130 │ Acidimicrobiia     │  414.0 │
│ EMOBON00098 │ Acidimicrobiia     │  409.0 │
│ EMOBON00237 │ Acidimicrobiia     │  407.0 │
│ EMOBON00193 │ Acidimicrobiia     │  327.0 │
│ EMOBON00224 │ Acidimicrobiia     │  327.0 │
│ EMOBON00145 │ Acidimicrobiia     │  294.0 │
│ EMOBON00144 │ Acidimicrobiia     │  280.0 │
│ EMOBON00149 │ Acidimicrobiia     │  195.0 │
│ EMOBON00120 │ Acidimicrobiia     │  192.0 │
│ EMOBON00121 │ Acidimicrobiia     │  180.0 │
│ EMOBON00151 │ Acidimicrobiia     │  171.0 │
│ EMOBON00158 │ Acidimicrobiia     │  150.0 │
│ EMOBON00157 │ Acidimicrobiia     │  145.0 │
│ EMOBON00156 │ Acidimicrobiia     │  119.0 │
│ EMOBON00155 │ Acidimicrobiia     │  105.0 │
│ EMOBON00148 │ Acidimicrobiia     │  105.0 │
│ EMOBON00147 │ Acidimicrobiia     │   79.0 │
│ EMOBON00099 │ Acidimicrobiia     │   75.0 │
│      ·      │       ·            │     ·  │
│      ·      │       ·            │     ·  │
│      ·      │       ·            │     ·  │
│ EMOBON00243 │ Zetaproteobacteria │   19.0 │
│ EMOBON00088 │ Zetaproteobacteria │   18.0 │
│ EMOBON00239 │ Zetaproteobacteria │   17.0 │
│ EMOBON00238 │ Zetaproteobacteria │   15.0 │
│ EMOBON00089 │ Zetaproteobacteria │   15.0 │
│ EMOBON00237 │ Zetaproteobacteria │   14.0 │
│ EMOBON00142 │ Zetaproteobacteria │   11.0 │
│ EMOBON00085 │ Zetaproteobacteria │   11.0 │
│ EMOBON00226 │ Zetaproteobacteria │   10.0 │
│ EMOBON00193 │ Zetaproteobacteria │    7.0 │
│ EMOBON00225 │ Zetaproteobacteria │    7.0 │
│ EMOBON00224 │ Zetaproteobacteria │    7.0 │
│ EMOBON00097 │ Zetaproteobacteria │    7.0 │
│ EMOBON00095 │ Zetaproteobacteria │    6.0 │
│ EMOBON00227 │ Zetaproteobacteria │    6.0 │
│ EMOBON00094 │ Zetaproteobacteria │    5.0 │
│ EMOBON00130 │ Zetaproteobacteria │    5.0 │
│ EMOBON00098 │ Zetaproteobacteria │    4.0 │
│ EMOBON00149 │ Zetaproteobacteria │    4.0 │
│ EMOBON00136 │ Zetaproteobacteria │    3.0 │
│ EMOBON00084 │ Zetaproteobacteria │    3.0 │
│ EMOBON00145 │ Zetaproteobacteria │    3.0 │
│ EMOBON00001 │ Zetaproteobacteria │    3.0 │
│ EMOBON00131 │ Zetaproteobacteria │    2.0 │
│ EMOBON00140 │ Zetaproteobacteria │    2.0 │
│ EMOBON00121 │ Zetaproteobacteria │    2.0 │
│ EMOBON00138 │ Zetaproteobacteria │    2.0 │
│ EMOBON00133 │ Zetaproteobacteria │    2.0 │
│ EMOBON00147 │ Zetaproteobacteria │    2.0 │
│ EMOBON00143 │ Zetaproteobacteria │    2.0 │
│ EMOBON00141 │ Zetaproteobacteria │    2.0 │
│ EMOBON00092 │ Zetaproteobacteria │    2.0 │
│ EMOBON00137 │ Zetaproteobacteria │    2.0 │
│ EMOBON00122 │ Zetaproteobacteria │    1.0 │
│ EMOBON00123 │ Zetaproteobacteria │    1.0 │
│ EMOBON00144 │ Zetaproteobacteria │    1.0 │
│ EMOBON00158 │ Zetaproteobacteria │    1.0 │
│ EMOBON00139 │ Zetaproteobacteria │    1.0 │
│ EMOBON00120 │ Zetaproteobacteria │    1.0 │
│ EMOBON00155 │ Zetaproteobacteria │    1.0 │
│ EMOBON00120 │ Zoopagomycetes     │    1.0 │
│ EMOBON00148 │ Zoopagomycetes     │    1.0 │
│ EMOBON00144 │ Zoopagomycetes     │    1.0 │
│ EMOBON00145 │ Zygnemophyceae     │   16.0 │
│ EMOBON00144 │ Zygnemophyceae     │   14.0 │
│ EMOBON00131 │ Zygnemophyceae     │    2.0 │
│ EMOBON00194 │ Zygnemophyceae     │    1.0 │
│ EMOBON00157 │ Zygnemophyceae     │    1.0 │
│ EMOBON00142 │ Zygnemophyceae     │    1.0 │
│ EMOBON00195 │ Zygnemophyceae     │    1.0 │
├─────────────┴────────────────────┴────────┤
│ 5655 rows (100 shown)           3 columns │
└───────────────────────────────────────────┘

In [78]:
r.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5655 entries, 0 to 5654
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ref_code        5655 non-null   object
 1   class           5655 non-null   object
 2   sum(abundance)  5655 non-null   float64
dtypes: float64(1), object(2)
memory usage: 132.7+ KB

In [103]:
query = """
PIVOT r
ON ref_code
USING sum(total)
ORDER BY class
"""
duckdb.sql(query).show(max_width=30, max_rows=55)

┌──────────────────────┬─────────────┬───┬─────────────┬─────────────┐
│        class         │ EMOBON00001 │ … │ EMOBON00242 │ EMOBON00243 │
│       varchar        │   double    │   │   double    │   double    │
├──────────────────────┼─────────────┼───┼─────────────┼─────────────┤
│ Acidimicrobiia       │       493.0 │ … │       940.0 │       619.0 │
│ Acidithiobacillia    │         7.0 │ … │         8.0 │        10.0 │
│ Acidobacteriia       │        35.0 │ … │        87.0 │        56.0 │
│ Aconoidasida         │        NULL │ … │        NULL │        NULL │
│ Actinobacteria       │        51.0 │ … │        84.0 │        76.0 │
│ Actinopteri          │        NULL │ … │        NULL │        NULL │
│ Agaricomycetes       │        NULL │ … │         1.0 │        NULL │
│ Allomalorhagida      │         2.0 │ … │        NULL │        NULL │
│ Alphaproteobacteria  │      1432.0 │ … │      2933.0 │      2138.0 │
│ Anaerolineae         │        61.0 │ … │       134.0 │        91.0 │
│ Anthozoa             │        NULL │ … │         1.0 │        NULL │
│ Appendicularia       │        NULL │ … │        NULL │        NULL │
│ Aquificae            │         1.0 │ … │         4.0 │         9.0 │
│ Arachnida            │        10.0 │ … │         4.0 │        NULL │
│ Archaeoglobi         │        NULL │ … │        NULL │        NULL │
│ Archiacanthocephala  │        NULL │ … │        NULL │        NULL │
│ Ardenticatenia       │        36.0 │ … │        58.0 │        44.0 │
│ Ascetosporea         │        NULL │ … │        NULL │        NULL │
│ Ascidiacea           │        NULL │ … │        NULL │        NULL │
│ Atractiellomycetes   │        NULL │ … │        NULL │        NULL │
│ Bacillariophyceae    │        30.0 │ … │        61.0 │        37.0 │
│ Bacilli              │        69.0 │ … │       122.0 │       101.0 │
│ Bacteroidia          │       137.0 │ … │       161.0 │       132.0 │
│ Balneolia            │        NULL │ … │         1.0 │         5.0 │
│ Bangiophyceae        │        NULL │ … │        NULL │        NULL │
│ Basidiobolomycetes   │        NULL │ … │        NULL │        NULL │
│ Betaproteobacteria   │       184.0 │ … │       253.0 │       203.0 │
│ Bigyra               │        NULL │ … │        NULL │        NULL │
│   ·                  │          ·  │ · │          ·  │          ·  │
│   ·                  │          ·  │ · │          ·  │          ·  │
│   ·                  │          ·  │ · │          ·  │          ·  │
│ Synurophyceae        │         1.0 │ … │        NULL │        NULL │
│ Taphrinomycetes      │        NULL │ … │        NULL │        NULL │
│ Tentaculata          │        NULL │ … │        NULL │        NULL │
│ Tepidiformia         │        NULL │ … │         2.0 │        NULL │
│ Thaliacea            │        NULL │ … │        NULL │        NULL │
│ Thecofilosea         │         4.0 │ … │         6.0 │         3.0 │
│ Thermoanaerobaculia  │       469.0 │ … │      1449.0 │       723.0 │
│ Thermococci          │        NULL │ … │        NULL │        NULL │
│ Thermodesulfobacte…  │         2.0 │ … │        NULL │         3.0 │
│ Thermoleophilia      │         8.0 │ … │        13.0 │        26.0 │
│ Thermomicrobia       │        NULL │ … │         3.0 │        NULL │
│ Thermoplasmata       │         4.0 │ … │        51.0 │        18.0 │
│ Thermoprotei         │        NULL │ … │         1.0 │        NULL │
│ Thermotogae          │        NULL │ … │        NULL │         1.0 │
│ Tissierellia         │         1.0 │ … │         5.0 │         2.0 │
│ Trebouxiophyceae     │         2.0 │ … │        NULL │        NULL │
│ Trematoda            │        NULL │ … │         1.0 │         2.0 │
│ Tremellomycetes      │         1.0 │ … │        NULL │        NULL │
│ Ulvophyceae          │        NULL │ … │        NULL │        NULL │
│ Umbelopsidomycetes   │        NULL │ … │        NULL │        NULL │
│ Variosea             │        NULL │ … │        NULL │        NULL │
│ Verrucomicrobiae     │       100.0 │ … │       209.0 │        83.0 │
│ Vicinamibacteria     │         5.0 │ … │         4.0 │         3.0 │
│ Xanthophyceae        │         3.0 │ … │        NULL │        NULL │
│ Zetaproteobacteria   │         3.0 │ … │        21.0 │        19.0 │
│ Zoopagomycetes       │        NULL │ … │        NULL │        NULL │
│ Zygnemophyceae       │        NULL │ … │        NULL │        NULL │
├──────────────────────┴─────────────┴───┴─────────────┴─────────────┤
│ 265 rows (55 shown)                           55 columns (4 shown) │
└────────────────────────────────────────────────────────────────────┘

#####

In [104]:
query = """
PIVOT (
SELECT
ref_code,
class,
sum(abundance) as total
FROM LSU 
WHERE class <> '' AND class IS NOT NULL
GROUP BY class, ref_code
ORDER BY class, sum(abundance) DESC
)
ON ref_code
USING sum(total)
ORDER BY class
"""
duckdb.sql(query).show(max_width=30, max_rows=55)

┌──────────────────────┬─────────────┬───┬─────────────┬─────────────┐
│        class         │ EMOBON00001 │ … │ EMOBON00242 │ EMOBON00243 │
│       varchar        │   double    │   │   double    │   double    │
├──────────────────────┼─────────────┼───┼─────────────┼─────────────┤
│ Acidimicrobiia       │       493.0 │ … │       940.0 │       619.0 │
│ Acidithiobacillia    │         7.0 │ … │         8.0 │        10.0 │
│ Acidobacteriia       │        35.0 │ … │        87.0 │        56.0 │
│ Aconoidasida         │        NULL │ … │        NULL │        NULL │
│ Actinobacteria       │        51.0 │ … │        84.0 │        76.0 │
│ Actinopteri          │        NULL │ … │        NULL │        NULL │
│ Agaricomycetes       │        NULL │ … │         1.0 │        NULL │
│ Allomalorhagida      │         2.0 │ … │        NULL │        NULL │
│ Alphaproteobacteria  │      1432.0 │ … │      2933.0 │      2138.0 │
│ Anaerolineae         │        61.0 │ … │       134.0 │        91.0 │
│ Anthozoa             │        NULL │ … │         1.0 │        NULL │
│ Appendicularia       │        NULL │ … │        NULL │        NULL │
│ Aquificae            │         1.0 │ … │         4.0 │         9.0 │
│ Arachnida            │        10.0 │ … │         4.0 │        NULL │
│ Archaeoglobi         │        NULL │ … │        NULL │        NULL │
│ Archiacanthocephala  │        NULL │ … │        NULL │        NULL │
│ Ardenticatenia       │        36.0 │ … │        58.0 │        44.0 │
│ Ascetosporea         │        NULL │ … │        NULL │        NULL │
│ Ascidiacea           │        NULL │ … │        NULL │        NULL │
│ Atractiellomycetes   │        NULL │ … │        NULL │        NULL │
│ Bacillariophyceae    │        30.0 │ … │        61.0 │        37.0 │
│ Bacilli              │        69.0 │ … │       122.0 │       101.0 │
│ Bacteroidia          │       137.0 │ … │       161.0 │       132.0 │
│ Balneolia            │        NULL │ … │         1.0 │         5.0 │
│ Bangiophyceae        │        NULL │ … │        NULL │        NULL │
│ Basidiobolomycetes   │        NULL │ … │        NULL │        NULL │
│ Betaproteobacteria   │       184.0 │ … │       253.0 │       203.0 │
│ Bigyra               │        NULL │ … │        NULL │        NULL │
│   ·                  │          ·  │ · │          ·  │          ·  │
│   ·                  │          ·  │ · │          ·  │          ·  │
│   ·                  │          ·  │ · │          ·  │          ·  │
│ Synurophyceae        │         1.0 │ … │        NULL │        NULL │
│ Taphrinomycetes      │        NULL │ … │        NULL │        NULL │
│ Tentaculata          │        NULL │ … │        NULL │        NULL │
│ Tepidiformia         │        NULL │ … │         2.0 │        NULL │
│ Thaliacea            │        NULL │ … │        NULL │        NULL │
│ Thecofilosea         │         4.0 │ … │         6.0 │         3.0 │
│ Thermoanaerobaculia  │       469.0 │ … │      1449.0 │       723.0 │
│ Thermococci          │        NULL │ … │        NULL │        NULL │
│ Thermodesulfobacte…  │         2.0 │ … │        NULL │         3.0 │
│ Thermoleophilia      │         8.0 │ … │        13.0 │        26.0 │
│ Thermomicrobia       │        NULL │ … │         3.0 │        NULL │
│ Thermoplasmata       │         4.0 │ … │        51.0 │        18.0 │
│ Thermoprotei         │        NULL │ … │         1.0 │        NULL │
│ Thermotogae          │        NULL │ … │        NULL │         1.0 │
│ Tissierellia         │         1.0 │ … │         5.0 │         2.0 │
│ Trebouxiophyceae     │         2.0 │ … │        NULL │        NULL │
│ Trematoda            │        NULL │ … │         1.0 │         2.0 │
│ Tremellomycetes      │         1.0 │ … │        NULL │        NULL │
│ Ulvophyceae          │        NULL │ … │        NULL │        NULL │
│ Umbelopsidomycetes   │        NULL │ … │        NULL │        NULL │
│ Variosea             │        NULL │ … │        NULL │        NULL │
│ Verrucomicrobiae     │       100.0 │ … │       209.0 │        83.0 │
│ Vicinamibacteria     │         5.0 │ … │         4.0 │         3.0 │
│ Xanthophyceae        │         3.0 │ … │        NULL │        NULL │
│ Zetaproteobacteria   │         3.0 │ … │        21.0 │        19.0 │
│ Zoopagomycetes       │        NULL │ … │        NULL │        NULL │
│ Zygnemophyceae       │        NULL │ … │        NULL │        NULL │
├──────────────────────┴─────────────┴───┴─────────────┴─────────────┤
│ 265 rows (55 shown)                           55 columns (4 shown) │
└────────────────────────────────────────────────────────────────────┘